@font-face {
  font-family: 'Involve';
  src: url('./shared/font/Involve-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./shared/font/Involve-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./shared/font/Involve-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root{
    --font-onest: 'Onest', system-ui, sans-serif;
    --font-involve: 'Involve', var(--font-onest);

    /* Жирность шрифтов */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    
    /* Размеры шрифтов */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-base: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 40px;
    --fs-5xl: 48px;

    /*Цвета*/
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-orange: #F1642E;
    --color-blue: #5758A6;
    --color-opasity-blue: #EAE9F5;


}