.learnSection {
    margin-top: 100px;
}

.learnTitle {
    font-weight: 400;
    font-size: 50px;
    color: #000;
    margin-bottom: 50px;
}

.learnGrid {
    position: relative;
    min-height: 1200px;
}

.learnCard,
.resultCard {
    position: absolute;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 24px;
    background: #fff;
    font-family: var(--font-onest);
    box-sizing: border-box;
}

.learnCard {
    width: 480px;
    height: 251px;
}

/* позиции */
.step1 {
    top: 0;
    left: 0;
}

.step2 {
    top: 155px;
    left: 500px;
}

.step3 {
    top: 310px;
    right: 0;
}

.step4 {
    top: 577px;
    left: 500px;
}

/* результат */
.resultCard {
    left: 0;
    right: 0;
    bottom: 0;
    height: 251px;
}

/* текст */
.cardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardTitle {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.cardText {
    font-size: 22px;
    line-height: 1.4;
    color: #000;
}

/* стрелки */
.arrow1,
.arrow2,
.arrow3,
.arrow4 {
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.arrow1 {
    top: 274px;
    left: 124px;
}


.arrow2 {
    top: 75px;
    right: 150px;
}

.arrow3 {
    top: 583px;
    right: 153px;
}

.arrow4 {
    top: 579px;
    left: 244px;
}

/* адаптив */
@media (max-width: 1200px) {
    .learnGrid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-height: auto;
    }

    .learnCard,
    .resultCard {
        position: static;
        width: 100%;
        height: 251px;
    }

    .arrow1,
    .arrow2,
    .arrow3,
    .arrow4 {
        display: none;
    }
}

@media (max-width: 768px) {
    .learnSection {
        margin-top: 50px;
    }

    .learnTitle {
        font-size: 34px;
        margin-bottom: 30px;
    }

    .cardTitle {
        font-size: 22px;
    }

    .cardText {
        font-size: 18px;
    }

    .learnCard,
    .resultCard {
        height: auto;
        min-height: 180px;
    }
}