.ContacPageContainer {
    margin-top: 140px;
}

.ContactPageTitle {
    font-size: 64px;
    font-weight: var(--fw-regular);
    color: var(--theme-text-primary);
}

.MainContentContactPage {
    margin-top: 50px;
}

.checkboxContainer {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.checkboxColumn {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
}

.addressSelector {
    position: relative;
}

.cat2Contanct {
    position: absolute;
    top: -69px;
    right: 20px;
}

.cat2Contanct img {
    width: 260px;
}

@media (max-width: 1440px) {
    .ContacPageContainer {
        margin-top: 120px;
    }

    .MainContentContactPage>* {
        display: inline;
    }

    .MainContentContactPage {
        margin-top: 40px;
    }

    .cat2Contanct {
        position: absolute;
        top: -89px;
        right: 3px;
    }

    .cat2Contanct img {
        width: 280px;
    }

}

@media (max-width: 1200px) {
    .ContacPageContainer {
        margin-top: 100px;
    }

    .ContactPageTitle {
        font-size: 52px;
    }

    .MainContentContactPage>p {
        font-size: 20px;
    }

    .checkboxColumn {
        flex: auto;
        gap: 20px;
    }

    .checkboxContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cat2Contanct img {
        width: 400px;
    }


}

@media (max-width: 1024px) {
    .cat2Contanct img {
        width: 300px;
    }

    .cat2Contanct {
        top: -9px;
        right: 3px;
    }
}

@media (max-width: 834px) {
    .ContacPageContainer {
        margin-top: 80px;
    }

    .ContactPageTitle {
        font-size: 48px;
    }

    .MainContentContactPage>p {
        font-size: 18px;
    }

    .checkboxContainer {
        margin-top: 30px;
        flex-direction: column;
        gap: 20px;
    }

    .checkboxColumn {
        gap: 20px;
    }

    .cat2Contanct img {
        width: 260px;
    }

    .cat2Contanct {
        top: -9px;
        right: 3px;
    }
}

@media (max-width: 576px) {

    .cat2Contanct {
        display: none;
    }

    .ContacPageContainer {
        margin-top: 60px;
    }

    .ContactPageTitle {
        font-size: 36px;
    }

    .MainContentContactPage {
        margin-top: 20px;
    }

    .MainContentContactPage>p {
        font-size: 16px;
    }

    .checkboxContainer {
        margin-top: 20px;
        gap: 15px;
    }

    .checkboxColumn {
        gap: 15px;
    }
}