.ContacPageContainer{
    margin-top: 140px;
}

.ContactPageTitle{
    font-size: 64px;
    font-weight: var(--fw-regular);
    color: #000;
}

.MainContentContactPage{
    margin-top: 50px;
}

.checkboxContainer {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.checkboxColumn {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    flex: 1; 
}