.card {
    width: var(--card-width, auto);
    height: 518px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}

.cardTitle {
    font-weight: 400;
    font-size: 48px;
    line-height: 109%;
    color: #000;
    margin-bottom: 20px;
    padding-top: 20px;
}

.cardSecondTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 109%;
    color: #000;
    margin-bottom: 20px;
}

.cardDescription {
    font-weight: 400;
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    flex-grow: 1;
}

.infoContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.directions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.directionTag {
    font-size: 14px;
    color: #666;
}

/* ❗ начиная с 1440 — отключаем пропс */
@media (max-width: 1440px) {
    .card {
        /* width: 380px; */
        /* 👈 перебивает var */
    }

    .cardTitle {
        padding-top: 0px;
    }

    .cardDescription {
        font-size: 20px;
    }

    .infoContainer {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .cardTitle {
        font-size: 40px;
    }

    .cardSecondTitle {
        font-size: 20px;
    }

    .cardDescription {
        font-size: 18px;
    }

    .card {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 992px) {
    .card {
        width: 100%;
        height: 100%;
    }

    .infoContainer {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .card {
        height: 100%;
    }
}

@media (max-width: 576px) {
    .cardTitle {
        font-size: 36px;
    }

    .cardSecondTitle {
        font-size: 24px;
    }

    .cardDescription {
        font-size: 18px;
    }

    .card {
        height: 100%;
    }

}