
.header_logo{
    font-family: var(--font-involve);
}

.containrer_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_items{
	list-style: none;
}

.navigation_list{
    border: 1px solid var(--color-black);
    padding: 15px 30px;
    border-radius: 50px;
}

.list_item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 55px; 
    line-height: 40px;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s ease;
    color: inherit;
}


.active {
    background-color: var(--color-blue);
    color: white !important; 
}

.active .text-class {
    color: white !important;
}

.active span,
.active p,
.active div {
    color: white !important;
}