
.header_logo{
    font-family: var(--font-involve);
}

.containrer_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_items{
	list-style: none;
}

.navigation_list{
    border: 1px solid var(--color-black);
    padding: 25px 42px;
    border-radius: 50px;
}

.list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
}