.Info {
    border-radius: 5px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-onest);
    font-size: var(--fs-base);
    font-weight: var(--fw-medium);
    box-sizing: border-box;
}

.fullWidth {
    padding: 10px;
}

.withPadding {
    width: fit-content;
    padding: 10px;
}

.whiteBg {
    background-color: white;
    border: 1px solid black;
}

.orangeBg {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}


@media (max-width: 1440px) {
    .infoText {
        font-size: 14px !important;
    }
}