.footer {
    background: #fff;
    border-top: 1px solid #222;
    margin-top: 150px;
}

.inner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 34px 0 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    column-gap: 70px;
}

.logo {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.nav a,
.contacts a {
    font-family: var(--font-onest);
    font-weight: 400;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contactsTitle {
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

/* 1440 */
@media (max-width: 1440px) {
    .footer {
        margin-top: 120px;
    }

    .inner {
        max-width: 1120px;
        padding: 32px 0 28px;
        column-gap: 50px;
    }
}

/* 1193 */
@media (max-width: 1193px) {
    .footer {
        margin-top: 100px;
    }

    .inner {
        max-width: 100%;
        padding: 30px 32px;
        grid-template-columns: 0.8fr 1fr 1fr 1.4fr;
        column-gap: 36px;
    }

    .nav a,
    .contacts a,
    .contactsTitle {
        font-size: 18px;
    }
}

/* 834 */
@media (max-width: 834px) {
    .footer {
        margin-top: 90px;
    }

    .inner {
        padding: 28px 24px;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        row-gap: 32px;
    }

    .logo {
        grid-column: 1 / 3;
    }

    .contacts {
        grid-column: 1 / 3;
    }
}

/* 500 */
@media (max-width: 500px) {
    .footer {
        margin-top: 70px;
    }

    .inner {
        padding: 26px 16px;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 28px;
    }

    .logo {
        grid-column: 1 / 3;
    }

    .nav a,
    .contacts a,
    .contactsTitle {
        font-size: 16px;
    }

    .contacts {
        grid-column: 1 / 3;
        gap: 10px;
    }
}

/* 480 */
@media (max-width: 480px) {
    .inner {
        grid-template-columns: 1fr;
        row-gap: 22px;
    }

    .logo,
    .contacts {
        grid-column: 1;
    }

    .nav {
        gap: 14px;
    }
}