.footer {
    border-top: 1px solid var(--theme-border-strong);
    margin-top: 150px;
}

.inner {
    width: 100%;
    max-width: var(--layout-max-width);
    margin: 0 auto;
    padding: 34px 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    grid-template-areas:
        "logo navL navR contacts"
        ". . . legal";
    column-gap: 70px;
    row-gap: 12px;
    align-items: start;
}

.logo {
    grid-area: logo;
    font-weight: 400;
    font-size: 14px;
    color: var(--theme-text-primary);
}

.logo_img {
    grid-area: logo;
    display: block;
}

.leftColumn {
    display: contents;
}

.navColLeft {
    grid-area: navL;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.colRightStack {
    grid-area: navR;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contactsCol {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.legalCol {
    grid-area: legal;
    display: flex;
    flex-direction: column;
}

.navColRight {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.navAllCol {
    display: none;
}

.navColLeft a,
.navColRight a,
.navAllCol a,
.legalCol a,
.contactsCol a {
    font-family: var(--font-onest);
    font-weight: 400;
    font-size: 20px;
    color: var(--theme-text-primary);
    text-decoration: none;
}

.contactsTitle {
    font-weight: 600;
    font-size: 20px;
    color: var(--theme-text-primary);
}

/* 1440 */
@media (max-width: 1440px) {
    .footer {
        margin-top: 120px;
    }
}

/* 1193 */
@media (max-width: 1193px) {
    .footer {
        margin-top: 100px;
    }

    .inner {
        padding-top: 30px;
        padding-bottom: 30px;
        grid-template-columns: 0.8fr 1fr 1fr 1.4fr;
        column-gap: 36px;
        padding: 34px 0px 30px;
    }

    .navColLeft a,
    .navColRight a,
    .navAllCol a,
    .legalCol a,
    .contactsCol a,
    .contactsTitle {
        font-size: 18px;
    }
}

/* 834 */
@media (max-width: 834px) {
    .footer {
        margin-top: 90px;
    }

    .inner {
        padding-top: 28px;
        padding-bottom: 28px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo navAll"
            "contacts legal";
        column-gap: 40px;
        row-gap: 32px;
        align-items: start;
    }

    .leftColumn {
        display: contents;
    }

    .navAllCol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        row-gap: 18px;
        grid-area: navAll;
    }

    .navAllSubCol {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .navColLeft,
    .colRightStack {
        display: none;
    }

    .contactsCol {
        grid-area: contacts;
    }

    .legalCol {
        grid-area: legal;
    }
}

/* 500 */
@media (max-width: 500px) {
    .footer {
        margin-top: 70px;
    }

    .inner {
        padding-top: 26px;
        padding-bottom: 26px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "leftCol navR"
            "logo contacts";
        column-gap: 20px;
        row-gap: 24px;
        align-items: start;
    }

    .logo_img {
        grid-area: logo;
        width: 230px;
        align-self: end;
    }

    .leftColumn {
        display: flex;
        flex-direction: column;
        gap: 14px;
        grid-area: leftCol;
        min-width: 0;
    }

    .navAllCol {
        display: none;
    }

    .navColLeft {
        display: flex;
        grid-area: unset;
        gap: 14px;
    }

    .colRightStack {
        display: contents;
    }

    .navColRight {
        grid-area: navR;
        gap: 14px;
    }

    .legalCol {
        grid-area: unset;
    }

    .contactsCol {
        grid-area: contacts;
        gap: 10px;
    }

    .navColLeft a,
    .navColRight a,
    .navAllCol a,
    .legalCol a,
    .contactsCol a,
    .contactsTitle {
        font-size: 16px;
    }
}