.container_main {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px 0px;
    box-sizing: border-box;
    ;
}

.header {
    font-family: var(--font-involve);
    font-weight: var(--fw-regular);
    font-size: var(--fs-2xl);
    color: #000;
}