.ContainerAboutPage {
    margin-top: 140px;
}

.ContainerAboutPageTitle {
    font-size: 64px;
    font-weight: var(--fw-regular);
    color: #000;
}


.MainContent {
    margin-top: 50px;
}

.ColumnsContainer {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}


.ColumFirst,
.ColumSecondery {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TitleText {
    width: 50%;
}


.TextDesctiption {
    margin-top: 15px;
    width: 100%;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.ArrowElements {
    position: absolute;
    top: 335px;
    right: 320px;
}

.mobileBreak {
    display: inline;
}

@media (max-width: 1440px) {

    .ContainerAboutPage {
        margin-top: 120px;
    }

    .ContainerAboutPageTitle {
        font-size: 52px;
    }

    .MainContent {
        margin-top: 40px;
    }

    .TitleText {
        font-size: 22px;
    }

    .TextDesctiption {
        font-size: 22px;
        margin-top: 20px;
    }

    .ArrowElements {
        top: 332px;
        right: 264px;
    }

    .ArrowElements svg {
        width: 470px;
    }

    .TextClassesShool {
        font-size: 28px;
    }

    .mobileBreak {
        display: none;
    }

    .CreateShoolText {
        font-size: 22px;
    }

    .lastBlockImg2 {
        height: 438px;
    }
}

@media (max-width: 1200px) {
    .ContainerAboutPage {
        margin-top: 100px;
    }

    .TitleText {
        font-size: 20px;

    }

    .CreateShoolText {
        font-size: 20px;
    }

    .TextDesctiption {
        font-size: 20px;
        margin-top: 20px;

    }

    .TextClassesShool {
        font-size: 26px;
    }

    .ArrowElements {
        top: 300px;
        right: 210px;
    }

    .ArrowElements svg {
        width: 380px;
        height: 200px;
    }

    .lastBlockImg {
        height: 460px;
    }

    .lastBlockImg2 {
        height: 430px;
    }
}

@media (max-width: 992px) {
    .ArrowElements {
        display: none;
    }

    .TitleText {
        width: 100%;
    }

    .ContainerAboutPageTitle {
        font-size: 48px;
    }

    .mobileBreak2 {
        display: none;
    }

    .ContainerAboutPage {
        margin-top: 80px;
    }

    .MainContent {
        margin-top: 40px;
    }

    .TitleText {
        font-size: 18px;
    }

    .CreateShoolText {
        font-size: 18px;
    }

    .TextDesctiption {
        font-size: 18px;
        margin-top: 20px;

    }

    .TextClassesShool {
        font-size: 22px;
    }

    .lastBlockImg2 {
        height: 415px;
    }
}

@media (max-width: 576px) {


    .ContainerAboutPage {
        margin-top: 60px;
    }

    .ContainerAboutPageTitle {
        font-size: 36px;
    }

    .MainContent {
        display: block;
    }

    .ColumnsContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .TitleText {
        width: 100%;
        font-size: 16px;
        line-height: 1.4;
    }

    .CreateShoolText {
        font-size: 16px;
        line-height: 1.4;
    }

    .TextClassesShool {
        font-size: 20px;
        line-height: 1.4;
    }

    .TextDesctiption {
        font-size: 16px;
        line-height: 1.45;
        margin-top: 16px;
    }

}