.popupInfo {
    position: relative;
    width: 296px;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.blue {
    color: var(--color-blue);
}

.orange {
    color: var(--color-orange);
}

.textContent{
    position: relative;
    top: 10px;
    left: 5px;
    font-family: var(--font-onest);
    font-size: var(--fs-xl);
    font-weight: var(--fw-regular);
}