.CardTeacherWrapper {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.CardTeacher {
    display: flex;
    gap: 20px;
}

.CardTeacherContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ImgTeacher {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.TeacherDescDesktop {
    display: block;
}

.TeacherDescMobile {
    display: none;
}

.BtnFooterContent {
    margin-top: auto;
}

@media (max-width: 1440px) {
    .CardTeacherWrapper {
        padding-top: 50px;
    }

    .TeacherName {
        font-size: 36px;
    }

    .TeacherDescDesktop,
    .TeacherDesc {
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    .CardTeacherWrapper {
        padding-top: 50px;
    }

    .TeacherName {
        font-size: 36px;
    }

    .TeacherDescDesktop,
    .TeacherDesc {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .CardTeacherWrapper {
        padding-top: 40px;
    }

    .TeacherName {
        font-size: 32px;
    }

    .TeacherDescDesktop {
        display: none;
    }

    .TeacherDescMobile {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .TeacherDesc {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .CardTeacher {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .CardTeacherWrapper {
        padding-top: 40px;
        gap: 20px;
    }

    .CardTeacherContent {
        gap: 20px;
    }

    .TeacherName {
        font-size: 28px;
    }

    .TeacherDesc {
        font-size: 16px;
    }

    .TeacherDescMobile {
        gap: 12px;
    }

    .BtnFooter {
        width: 100% !important;
    }
}