.InputWrapper {
    width: 100%;
    position: relative;
}

.Input {
    width: 100%;
    height: 60px;
    background-color: var(--color-white);
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    transition: border-color 0.3s ease;
    
    font-size: var(--fs-base);
    font-family: var(--font-onest), sans-serif;
    color: #000;
    font-weight: 400;
    
    &::placeholder {
        color: #666; 
        opacity: 1; 
        font-family: inherit; 
        font-size: inherit;
    }
    
    &:focus {
        outline: none;
        border-color: var(--color-blue);
    }
    
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: #000;
        -webkit-box-shadow: 0 0 0px 1000px white inset; 
    }
}

.Input.hasError {
    border-color: #ff0000;
    
    &:focus {
        border-color: #ff0000;
    }
}

.ErrorText {
    display: block;
    margin-top: 5px;
    color: #ff0000;
    font-size: var(--fs-sm);
    font-family: var(--font-onest);
    font-weight: 400;
}