.container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

.code {
    font-size: 200px;
    line-height: 1;
    color: var(--theme-text-primary);
}

.description {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    max-width: 700px;
    color: var(--theme-text-primary);
}

.popup {
    position: relative;
    left: -400px;
    top: 30px;
}

.catContainer {
    position: absolute;
    right: 220px;
    top: 200px;
}

@media (max-width: 1440px) {

    .catContainer {
        right: 140px;
        top: 164px;
    }

    .catContainer img {
        width: 300px;
    }
}

@media (max-width: 1200px) {

    .catContainer {
        right: -3px;
        top: 140px;
    }

    .catContainer img {
        width: 280px;
    }

    .popup {
        position: relative;
        left: -300px;
        top: 30px;
    }

    .description {
        font-size: 30px;
    }
}

@media (max-width: 1024px) {
    .catContainer {
        right: -63px;
        top: 110px;
    }
}

@media (max-width: 910px) {
    .popup {
        position: relative;
        left: -250px;
        top: 30px;
    }

    .description {
        font-size: 26px;
    }
}

@media (max-width: 800px) {

    .catContainer {
        display: none;
    }

    .popup {
        position: relative;
        left: 0px;
        top: 30px;
    }


    .code {
        font-size: 160px;
    }

    .description {
        font-size: 26px;
    }
}


@media (max-width: 500px) {

    .code {
        font-size: 120px;
    }

    .description {
        font-size: 24px;
    }

    .popup {
        display: none;
    }
}